* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  margin-bottom: 25px;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 10px;
}

.corner {
  background: black;
  height: 10px;
  width: 10px;
  position: absolute;
  opacity: 1;
  border-radius: 5px;
  /* display: none; */
}

#corner2 {
  left: 50px;
}

#corner3 {
  top: 100px;
}

#corner4 {
  top: 100px;
  left: 50px;
}

.btn-item,
button,
#fileLabel {
  padding: 10px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background: #05b287;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

button:hover,
.btn-item:hover,
#fileLabel:hover {
  background: #85d6de;
}

.form {
  margin-bottom: 10px;
}
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
}

.line {
  position: absolute;
  width: 2px;
  margin-top: -1px;
  background-color: red;
}
